
<section class="fondo" >
    <div class="row container-fluid ">
        <div >
            <app-navbar></app-navbar>
        </div>
        <div class="row mt-6">
            <!-- <div class="col-3">
            <app-sidebar></app-sidebar>
    
            </div > -->
            <div class="row">   
                <router-outlet></router-outlet>
            </div>
        </div >
     
    </div> 
</section>

<!-- <div class="row container-fluid mt-4">

    <div class="col-3">
        <app-sidebar></app-sidebar>

    </div >
        

    <div class="col">
        <router-outlet></router-outlet>
    </div>

</div> -->