.fondo{
    background-image: url(../../src/assets/Imagenes/seccionHombre.jpg) ;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    opacity: 80%;
}