<!-- <h2>Menu</h2>
<hr>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <ul class="list-group">
        <li routerLink="" class="list-group-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Hombre</li>
        <li routerLink="mujer" class=" list-group-item" routerLinkActive="active" >Mujer</li>
        <li routerLink="productos/:id" class=" list-group-item" routerLinkActive="active" >Producto</li>
    
    </ul>   
</nav> --> 
<!-- <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/Imagenes/ConverticStore.png" alt="ConverticStore" width="30" height="24">
      </a>
    </div>
  </nav> -->
