

  <div class="cards-container" style="display: flex; flex-direction: row;" >
    <div class="card" style="width: 15rem;" *ngFor="let producto of productos">
      <img src="../../../../assets/Imagenes/{{producto.imagen}}" class="card-img-top
      " alt="...">
      <div class="card-body">
        <h6 class="card-title" style="color: darkblue;">{{producto.producto}}</h6>
        <p class="card-text" class="reduce-spacing" style="font-size: small; ">{{producto.descripcion}}</p>
        <p class="card-text" class="reduce-spacing" style="font-size: small;">Marca: {{producto.marca.marca}}</p>
        <p class="card-text" class="reduce-spacing" style="font-size: small;">Tallas: {{producto.talla.talla}}</p>
        <p class="card-text" class="reduce-spacing" style="font-size: small;">Colores: {{producto.color.color}}</p>
        <p class="card-text" class="reduce-spacing" style="font-size: small;">Stock: {{producto.cantidad}}</p>
        <p class="card-text" class="reduce-spacing" style="font-size: small;">Precio: {{producto.valorUnitario}}</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>